# Core
OWNER=owner@example.com
DOMAIN=example.com
PORT=3000

# Auth
OIDC_ISSUER=https://login.microsoftonline.com/[replace yours here]/v2.0
OAUTH_CLIENT_ID=[replace yours here]
OAUTH_CLIENT_SECRET=[replace yours here]
SESSION_SECRET=[replace yours here]

# Database
DATABASE_URL_WITH_SECRET=postgresql://postgres:postgres@localhost:6432/jkpay

# Flags
ALLOW_SERVER_VARIABLES=false
