OWNER=gafea@icloud.com
DOMAIN=jkpay.gafea.net
PORT=3000
OIDC_ISSUER=https://login.microsoftonline.com/[replace yours here]/v2.0
OAUTH_CLIENT_ID=[replace yours here]
OAUTH_CLIENT_SECRET=[replace yours here]
SESSION_SECRET=[replace yours here]
DATABASE_URL=postgresql://postgres:postgres@localhost:6432/jkpay
